.botao {
  background-color: #6278f7;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 24px 32px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  margin: 16px 0;
}

.botao:hover {
  background-color: #95ffd4;
}
